scikit-learn
tokenizers==0.21.1
torch==2.7.0
torchmetrics==1.7.1
tqdm==4.67.1
transformers==4.51.3
numpy==2.2.2
huggingface-hub==0.30.2
multidict==6.4.3
nltk==3.9.1
numpy==2.2.2
packaging==25.0
pandas==2.2.3
pillow==11.2.1
propcache==0.3.1
sentence-transformers==4.1.0
datasets==3.5.1